
.recommended-friends{
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title{
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color-thick);
}

.recommended-friends span{
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: var(--main-color-thick);
    font-size: 18px;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}
.open-chat__header span{
    opacity: 0.6;
}
.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}
.open-post__hashtags{
    text-transform: uppercase; /*대문자로 디자인하기*/
    opacity: 0.6;
}
.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider{
    width: 2px;
    height: 15px;
    background-color: var(--main-color-light);
    margin: 0 5px;
}
.open-post__member-status{
    color: #ffb0e0;
    font-weight: 400;
}
.open-post__foto{
    position: relative;
}
.open-post__foto img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post__heart-count{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 4px;
}

.find__status-bar, .find__header{
    background-color: white;
}

@keyframes heartbeat{
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: deeppink;
        transform: scale(2);
    }
    100%{
        color: white;
        transform: none;
    }
}
.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartbeat 1s linear infinite;
}